body {
	background-color: gray;
}

div#main {
	background-color: white;
	max-width: 55em;
	margin-left: 10%;
	padding: 1em 1.5em 1em 1em;
}

div#main > div {
	margin-left: 1em;
    max-width: 50em;
}

dt {
	font-family: sans-serif;
	font-weight: bold;
}

dd.email {
	font-family: courier, monospace;
}

dd.email span {
	color: silver;
}

h1 {
	font-family: sans-serif;
	font-variant: small-caps;
}

h2 {
	font-family: sans-serif;
	font-variant: small-caps;
}

h3 {
	font-family: sans-serif;
}
